<launch>
<node pkg="post_process_pointcloud" 
      type="post_process_pointcloud_node" 
      name="post_process_pointcloud_node" 
      output="log"
      launch-prefix="xterm -e gdb --args">
<param name="size" type="int" value="1"/>
<param name="objectTemperature" type="int" value="4"/>
<param name="objectColor" type="int" value="4"/>
<param name="distance" type="int" value="1"/>
</node>

</launch>